<section [formGroup]="formGroup">
    <fieldset>
        <legend>Selecciona la Ubicación del Proyecto</legend>
    
        <mat-form-field>
            <input matInput placeholder="depa_select" [formControlName]="formControlNames.depa_select" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="prov_select" [formControlName]="formControlNames.prov_select" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="dist_select" [formControlName]="formControlNames.dist_select" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="cacerios_select" [formControlName]="formControlNames.cacerios_select" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="anexos_select" [formControlName]="formControlNames.anexos_select" autocomplete="off">
        </mat-form-field>
     
    </fieldset>

</section>

