<mat-drawer-container class="example-container" autosize>

  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div class="body">

      <mat-card class="card-width mat-elevation-z8" >
         
          <mat-card-content>
              <div class="box">
                  <div (click)='drawer.toggle()' class="box-items">
                      <div class="box-body">
                          <p>+</p>
          
                      </div>
                      <div class="box-footer">
                          <p>Agregar Proyecto</p>
          
                      </div>
  
                  </div>
                  <div class="box-items" *ngFor="let item of ['huaraz','carhuaz','yungay','marcara','mancos','jangas']">
                      <div class="box-body">
                          <p>proyecto de mis amores y amorios {{item}}</p>
          
                      </div>
                      <div class="box-footer">
                          <p>Avance al 80%</p>
          
                      </div>
          
                  </div>
          
              </div>
            
          </mat-card-content>
         
        </mat-card>
     </div>




  </mat-drawer>




  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Atraz
    </button>
  </div>

</mat-drawer-container>