<section [formGroup]="formGroup">
   <fieldset>
    <legend>Captacion</legend>
    
    <div style="display: flex;flex-wrap: wrap;justify-content: space-around; ">
        
        <mat-form-field>
            <input matInput placeholder="Antiguedad" [formControlName] = "formControlNames.antiguedad" autocomplete="off"> 
        </mat-form-field>
       
        <mat-form-field>
            <input matInput placeholder="Cerco Perimetrico" [formControlName] = "formControlNames.cerco_perimetrico" autocomplete="off"> 
        </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="Estado Concervacion" [formControlName] = "formControlNames.estado_concervacion" autocomplete="off"> 
        </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="Nombre Captacion" [formControlName] = "formControlNames.nombre_captacion" autocomplete="off"> 
        </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="Reutilizable?" [formControlName] = "formControlNames.reutilizable" autocomplete="off"> 
        </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="Ubicacion Norte" [formControlName] = "formControlNames.ubicacion_norte" autocomplete="off"> 
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Ubicacion Este" [formControlName] = "formControlNames.ubicacion_este" autocomplete="off"> 
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Ubicacion Latitud" [formControlName] = "formControlNames.ubicacion_latitud" autocomplete="off"> 
        </mat-form-field>

    </div>

    
    </fieldset>

</section>