<section [formGroup]="formGroup">

    <fieldset >
        <legend>Red de Distribución</legend>
        
    <mat-form-field style="width: 100%;">
        <input matInput placeholder="Cantidad en Metros Lineales" [formControlName]="formControlNames.cantidad_ML" autocomplete="off">
    </mat-form-field>
    <mat-form-field style="width: 100%;">
        <input matInput placeholder="Describa el Estado de Conservación"
            [formControlName]="formControlNames.estado_conservacion" autocomplete="off">
    </mat-form-field>
    <mat-checkbox [checked]="checkedObrasArte" [formControlName]="formControlNames.obras_arte">
        Posee Obras de Arte?

    </mat-checkbox>

    <mat-checkbox [checked]="checkedPaseAereo" [formControlName]="formControlNames.pase_aereo">
        Posee Pase Aereo?

    </mat-checkbox>
    </fieldset>
</section>
