<div class="list-item-active" *ngFor="let item of ['a','b','c']">
    <a style="color: #ffffff; " mat-list-item href="#" >a</a>
</div>

<div class="list-item-active">
    <button mat-menu-item [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon style="color: #ffffff; ">voicemail</mat-icon>
        <span style="color: #ffffff; " >asdasd</span>
      </button>
</div>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Check voice mail</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
  </mat-menu>