<section [formGroup]="formGroup">
    <mat-formfield>
        <input matInput placeholder="antiguedad" [formControlName] = "formControlNames.antiguedad"> 
    </mat-formfield>
    <mat-formfield>
        <input matInput placeholder="cerco_perimetrico" [formControlName] = "formControlNames.cerco_perimetrico"> 
    </mat-formfield>
    <mat-formfield>
        <input matInput placeholder="estado_concervacion" [formControlName] = "formControlNames.estado_concervacion"> 
    </mat-formfield>
    <mat-formfield>
        <input matInput placeholder="nombre_captacion" [formControlName] = "formControlNames.nombre_captacion"> 
    </mat-formfield>
    <mat-formfield>
        <input matInput placeholder="reutilizable" [formControlName] = "formControlNames.reutilizable"> 
    </mat-formfield>
    <mat-formfield>
        <input matInput placeholder="ubicacion" [formControlName] = "formControlNames.ubicacion"> 
    </mat-formfield>
</section>
