<section [formGroup]="formGroup">
    <fieldset>
        <legend>Poblacion - Localidad "ACHASPAMPA"</legend>

        <div style="display: grid;
        grid-template-columns: repeat(auto-fit, minmax(6rem,2fr));
        ">
            <mat-form-field>
                <input matInput placeholder="concentracion_miembros_x_familia" autocomplete="off"
                    [formControlName]='formControlNames.concentracion_miembros_x_familia'>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="dencidad_poblacional" autocomplete="off"
                    [formControlName]='formControlNames.dencidad_poblacional'>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="poblacion_actual" autocomplete="off"
                    [formControlName]='formControlNames.poblacion_actual'>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="poblacion_futura" autocomplete="off"
                    [formControlName]='formControlNames.poblacion_futura'>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="tasa_crecimiento" autocomplete="off"
                    [formControlName]='formControlNames.tasa_crecimiento'>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="total_beneficiarios" autocomplete="off"
                    [formControlName]='formControlNames.total_beneficiarios'>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="total_familias_beneficiadas" autocomplete="off"
                    [formControlName]='formControlNames.total_familias_beneficiadas'>
            </mat-form-field>

        </div>

    </fieldset>

</section>