<section [formGroup]="formGroup">
    <fieldset>
        <legend>Generalidades</legend>
        <mat-form-field>
            <input matInput placeholder="Nombre Proyecto" [formControlName]="formControlNames.nombre_proyecto" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Alias Proyecto" [formControlName]="formControlNames.alias_proyecto" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Cliente" [formControlName]="formControlNames.cliente" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="SNIP" [formControlName]='formControlNames.snip' autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Modalidad de Ejecución" [formControlName]="formControlNames.modalidad_ejecucion" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Plazo de Ejecución" [formControlName]="formControlNames.plazo_ejecucion" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Sistema de Contratacion" [formControlName]='formControlNames.sist_contratacion' autocomplete="off">
        </mat-form-field>
    </fieldset>
</section>