<section [formGroup]="formGroup">
    <fieldset>
        <legend>Generalidades</legend>
        <mat-form-field>
            <input matInput placeholder="Alias Proyecto" [formControlName]="formControlNames.alias_proyecto">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="cliente" [formControlName]="formControlNames.cliente">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="modalidad_ejecucion" [formControlName]="formControlNames.modalidad_ejecucion">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="nombre_proyecto" [formControlName]="formControlNames.nombre_proyecto">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="plazo_ejecucion" [formControlName]="formControlNames.plazo_ejecucion">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Sistema de Contratacion" [formControlName]='formControlNames.sist_contratacion'>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="snip" [formControlName]='formControlNames.snip'>
        </mat-form-field>
    </fieldset>

</section>