
<section [formGroup]="formGroup">
    <app-generalidad-form [formControlName]='formControlNames.generalidad'></app-generalidad-form>
    <app-historial-documentario-form [formControlName]='formControlNames.historial_documentario'></app-historial-documentario-form>
    <app-ubigeo-seleccionado-form [formControlName]='formControlNames.ubigeo_seleccionado'></app-ubigeo-seleccionado-form>
    <app-colindante-form [formControlName]='formControlNames.colindante'></app-colindante-form>
    <app-antecedente-intervencion-form [formControlName] ='formControlNames.antecedente_intervencion'></app-antecedente-intervencion-form>
  
    <ul style="position:relative">
        <li [formArrayName]="formControlNames.instituciones_educativas" *ngFor="let unaInstitucion_educativa of formGroupControls.instituciones_educativas.controls; let i = index">
            <app-institucion-educativa-form [formControl]='unaInstitucion_educativa'></app-institucion-educativa-form>
            <span (click)='eliminarInstitucionEducativa(i)' class="close"><mat-icon>delete_forever</mat-icon></span> 
        </li>

    </ul>
       
    <ul style="position:relative">
        <li [formArrayName]='formControlNames.vias_accesos' *ngFor="let unaVia_acceso of formGroupControls.vias_accesos.controls; let i = index">
            <app-via-acceso-form [formControl]='unaVia_acceso' ></app-via-acceso-form>
            <span (click)='eliminarViaAcceso(i)' class="close"> <mat-icon>delete_forever</mat-icon></span>
        </li>

    </ul>
      
    <button mat-button color='primary' (click)='agregarViaAcceso()'>Agregar Via Acceso</button>
    <button mat-button color='primary' (click)='agregarInstitucionEducativa()'>Agregar Institucion Educativa</button>


    
</section>

<section style="display: flex; justify-content: center; margin-bottom: 15px;" >
    
           
            <button (click)='outputRootToContainer()' mat-stroked-button color ='primary'>Guardar Generalidades del Proyecto v1 </button>
      
</section>


