<section [formGroup]="formGroup">
    <fieldset>
        <legend>Cacerio</legend>
        <mat-form-field>
            <input matInput placeholder="Nombre Cacerio" [formControlName]="formControlNames.nombre_cacerio" #input [value]="input.value.toUpperCase()">

        </mat-form-field>
        
        <div [formArrayName]="formControlNames.centros_poblados" *ngFor="let unCentroPoblado of formGroupControls.centros_poblados.controls; let i = index">
            <app-centro-poblado [formControl]="unCentroPoblado"></app-centro-poblado>
            <button mat-button color='warn' (click)="eliminarCentroPoblado(i)">Eliminar Centro Poblado</button>
        </div>
        <button mat-button color='primary' (click)="agregarCentroPoblado()">Agregar Centro Poblado</button>
    
    </fieldset>
</section>