<div style="display: flex; justify-content: center;">
  <mat-drawer-container class="example-container mat-elevation-z8" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <h2>Generalidades del Proyecto</h2>
      <app-generalidadc></app-generalidadc>
        <button type="button" mat-button color='primary' (click)="drawer.toggle()">
          Atraz
        </button>
    </mat-drawer>
      <div class="example-sidenav-content">
        <div class="box">
          <div (click)='drawer.toggle()' class="box-items">
            <div class="box-body">
              <p>+</p>
            </div>
            <div class="box-footer">
              <p>Agregar Proyecto</p>
            </div>
          </div>
          <div (click)="goTo(item.id)" class="box-items" *ngFor="let item of listaProyectos">
            <div class="box-body"  >
              <p >{{item.generalidad.alias_proyecto}}</p>
              
            </div>
            <div class="box-footer">
              <p>Avance al 80%</p>
            </div>
          </div>
          
        </div>
      </div>
  </mat-drawer-container>
</div>
