<fieldset > <!-- [formGroup]="formGroup"-->
    <legend>Ubigeo</legend>
    
    
    <h4>mat select</h4>
    <mat-form-field>
      <mat-label>Departamento</mat-label>
      
      <mat-select  >
        
        <mat-option *ngFor="let departamento of departamentos; let i= index" [value]="departamento.nombre_departamento">
          <p (click)='setIndiceDepartamento(i)'>{{departamento.nombre_departamento}}</p> 
        </mat-option>
      </mat-select>
     
      
    </mat-form-field>
    
   
  <mat-form-field>
      <mat-label>Provincia</mat-label>
      
      <mat-select >
        
        <mat-option *ngFor="let provincia of provincias; let i= index" [value]="provincia.nombre_provincia">
          <p (click)='setIndiceProvincia(i)'>{{provincia.nombre_provincia}}</p> 
        </mat-option>
      </mat-select> 
    </mat-form-field>

    <mat-form-field>
      <mat-label>Distrito</mat-label>
      
      <mat-select >
        
        <mat-option *ngFor="let distrito of distritos; let i= index" [value]="distrito.nombre_distrito">
          <p (click)='setIndiceDistrito(i)'>{{distrito.nombre_distrito}}</p> 
        </mat-option>
      </mat-select> 
    </mat-form-field>

   
    <mat-form-field>
      <mat-label>Cacerios</mat-label>
      <mat-select multiple>
        <mat-option *ngFor="let cacerio of cacerios" [value]="cacerio">{{cacerio.nombre_cacerio}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Centros Poblados</mat-label>
      <mat-select multiple>
        <mat-option *ngFor="let centro_poblado of centros_poblados" [value]="centro_poblado">{{centro_poblado.nombre_centro_poblado}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Anexos</mat-label>
      <mat-select multiple>
        <mat-option *ngFor="let anexo of anexos" [value]="anexo">{{anexo.nombre_anexo}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>barrios</mat-label>
      <mat-select multiple>
        <mat-option *ngFor="let barrio of barrios" [value]="barrio">{{barrio.nombre_barrio}}</mat-option>
      </mat-select>
    </mat-form-field>


</fieldset>


