<section [formGroup]="formGroup">
    <fieldset>
        <legend>Departamento</legend>
        <mat-form-field>
            <input matInput type="text" placeholder="Nombre Departamento" [formControlName]="formControlNames.nombre_departamento" #input [value]="input.value.toUpperCase()">
        </mat-form-field>
        
        <div [formArrayName]="formControlNames.provincias" *ngFor="let unaProvincia of formGroupControls.provincias.controls; let i = index">
            <app-provincia [formControl]="unaProvincia"></app-provincia>
            <button mat-button color='warn' (click)="eliminarProvincia(i)">Eliminar Provincia</button>
        </div>
        <button mat-button color='primary' (click)="agregarProvincia()">Agregar Provincia</button>
    </fieldset>
</section>
