<section [formGroup]="formGroup">
    <fieldset>
        <legend>Red de Tubería</legend>
        <div style="display:grid; grid-template-columns: repeat(auto-fit,minmax(12rem,1fr));">
            <app-linea-conduccion style="padding-right: 0.5rem;" [formControlName]="formControlNames.linea_conduccion"></app-linea-conduccion>
            <app-linea-aduccion style="padding-right: 0.5rem;" [formControlName]="formControlNames.linea_aduccion"></app-linea-aduccion>
            <app-red-distribucion style="padding-right: 0.5rem;" [formControlName]="formControlNames.red_dictribucion"></app-red-distribucion>
            <app-conexion-domiciliaria [formControlName]="formControlNames.conexion_domiciliaria"></app-conexion-domiciliaria>

        </div>
       
       
      
    </fieldset>
</section>

