<section [formGroup]="formGroup">
    <fieldset >
        <legend>Generalidades del Proyecto</legend>

            

        
            <mat-form-field >
                <input matInput placeholder="Modalidad Ejecución" [formControlName]="formControlNames.modalidad_ejecucion" autocomplete="off">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Plazo Ejecución" [formControlName]="formControlNames.plazo_ejecucion" autocomplete="off">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Sist. Contratación" [formControlName]="formControlNames.sist_contratacion" autocomplete="off">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="SNIP" [formControlName]="formControlNames.snip" autocomplete="off">
            </mat-form-field>

        
       

    
    </fieldset>


</section>