<section [formGroup]="formGroup">
    <fieldset>
        <legend>Red de Distribución</legend>
        <mat-form-field>
            <input matInput placeholder="cantidad_ml" [formControlName]='formControlNames.cantidad_ml' autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="cuenta_obras_arte" [formControlName]='formControlNames.cuenta_obras_arte' autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="estado_conservacion" [formControlName]='formControlNames.estado_conservacion' autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="tiene_pase_aereo" [formControlName]='formControlNames.tiene_pase_aereo' autocomplete="off">
        </mat-form-field>
    </fieldset>
</section>
