<section [formGroup]="formGroup">
    <fieldset>
        <legend>Institucion Educativa</legend>
        <mat-form-field>
            <input matInput placeholder="codigo_modular" [formControlName]="formControlNames.codigo_modular" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="direccion" [formControlName]="formControlNames.direccion" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="gestion_dependencia" [formControlName]="formControlNames.gestion_dependencia" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="nivel_modalidad" [formControlName]="formControlNames.nivel_modalidad" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="nombre" [formControlName]="formControlNames.nombre" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="nro_alumnos" [formControlName]="formControlNames.nro_alumnos" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="nro_profes" [formControlName]="formControlNames.nro_profes" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="nro_secciones" [formControlName]="formControlNames.nro_secciones" autocomplete="off">
        </mat-form-field>
    </fieldset>

</section>
