<section [formGroup]="formGroup">
    <fieldset>
        <legend>Institucion Educativa</legend>
        <mat-form-field>
            <input matInput placeholder="Nombre" [formControlName]='formControlNames.nombre' autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Dirección" [formControlName]='formControlNames.direccion' autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Codigo Modular" [formControlName]='formControlNames.codigo_modular' autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Gestion/Dependencia" [formControlName]='formControlNames.gestion_dependencia' autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Modalidad" [formControlName]='formControlNames.modalidad' autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Niveles" [formControlName]='formControlNames.niveles' autocomplete="off">
        </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="Nro. Alumnos" [formControlName]='formControlNames.nro_alumnos' autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Nro. Profesores" [formControlName]='formControlNames.nro_profesores' autocomplete="off">
        </mat-form-field>

    </fieldset>

</section>
