<div class="dropzone"
     dropzone
     (hovered)="toggleHover($event)"
     (dropped)="onDrop($event)"
     [class.hovering]="isHovering">
<h3>AngularFire Drop Zone</h3>
<p>Drag And Drop a file</p>
<div class="file">
    <label class="file-label">
        <input class="file-input" type="file" multiple (change)="onDrop($event.target.files)">
    </label>
</div>
</div>
<h3>uploads</h3>

<div style=" display:grid;
grid-template-columns: repeat(6rem,2fr);
">

<div  *ngFor="let file of files">
    <!--
        <app-upload-task [file]="file"></app-upload-task>

    -->

    
      
          
        <app-upload-task  [file]="file"></app-upload-task>


            

      

</div>

</div>


