<h3 mat-dialog-title>{{accion }} Ubigeo </h3>
<div mat-dialog-content>
  <!--
    (ubigeoDataUpdate)="ubigeoDataUpdate($event)"
    ESTA LINEA DE CODIGO ES NECESARIA PARA EL CORRECTO
    USO DE NGXSUBFORM
 

  -->
  


  <app-editor
  *ngIf="accion != 'Eliminar'; else elseTemplate" 
  [ubigeosData]="ubigeosData"
  (ubigeoDataUpdate)="ubigeoDataUpdate($event)"
  [(ngModel)]="ubigeosData"
></app-editor>

  
  <ng-template #elseTemplate>
    Seguro de Eliminar?
  </ng-template>

  

</div>
<div mat-dialog-actions>
 
  <button mat-button (click)="doAction()" mat-button color="primary">{{accion}}</button>
  <button mat-button (click)="closeDialog()" mat-button color="warn">Cancelar</button>
</div>