<section [formGroup]="formGroup">
    <fieldset >
        <legend>Reservorio</legend>
        <div style="display:flex; flex-wrap: wrap; justify-content: space-around;">
            <mat-form-field>
                <input matInput placeholder="antiguedad" [formControlName]="formControlNames.antiguedad">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="ubicacion" [formControlName]="formControlNames.ubicacion">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="forma_estructura" [formControlName]="formControlNames.forma_estructura">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="capacidad_almacenamiento" [formControlName]="formControlNames.capacidad_almacenamiento">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="caceta_cloracion" [formControlName]="formControlNames.caceta_cloracion">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="cerco_perimetrico" [formControlName]="formControlNames.cerco_perimetrico">
            </mat-form-field>

        </div>
        
   

    </fieldset>
</section>
