<fieldset [formGroup]="formGroup">
    <legend>Centro Poblado</legend>
    <mat-form-field>
        <input matInput placeholder="Nombre Centro Poblado" autocomplete="off" [formControlName]= "formControlNames.nombre_centro_poblado" type="text" value="cp">

    </mat-form-field>
   
  
    <div [formArrayName]="formControlNames.anexos" *ngFor="let unAnexo of formGroupControls.anexos.controls; let i = index">
      
       <app-anexo [formControl] = 'unAnexo'></app-anexo>
       <button mat-button color ='warn' (click)='borrarAnexo(i)'>Eliminar Anexo</button>
       
    </div>
   
    <button mat-button color ='primary' (click)='agregarAnexo()'>Agregar Anexo</button>
</fieldset>
