<fieldset [formGroup]="formGroup">
    <legend>Vias De Acceso</legend>
    <mat-form-field>
        <input matInput placeholder="Distancia" [formControlName]="formControlNames.distancia">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Nombre Localidad" [formControlName]="formControlNames.nombre_lugar">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Tiempo" [formControlName]="formControlNames.tiempo">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Tipo de Via" [formControlName]="formControlNames.tipo_via">
    </mat-form-field>
</fieldset>
