<section [formGroup]="formGroup">
    <fieldset>
        <legend>Historial Documentario</legend>

        <mat-form-field>
            <input matInput placeholder="Año Priorización" [formControlName]="formControlNames.anio_priorizacion" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Fecha Aprobacion" [formControlName]="formControlNames.fecha_aprobacion" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Nro.Informe Técnico" [formControlName]="formControlNames.inf_tecnico_nro" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Rep. Unidad Ejecutora" [formControlName]="formControlNames.rep_und_ejecutora" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Rep. Unidad Evaluadora" [formControlName]="formControlNames.rep_und_evaluadora" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Rep. Unidad Formuladora" [formControlName]="formControlNames.rep_und_formuladora" autocomplete="off">
        </mat-form-field>
    </fieldset>
</section>
