<section [formGroup]="formGroup">
    <Fieldset>
        <legend>Distrito</legend>
        <mat-form-field>
            <input matInput placeholder="Nombre Distrito" [formControlName]="formControlNames.nombre_distrito" #input [value]="input.value.toUpperCase()">

        </mat-form-field>

        
        <div [formArrayName]="formControlNames.cacerios"
            *ngFor="let unCacerio of formGroupControls.cacerios.controls; let i = index">
            <app-cacerio [formControl]="unCacerio"></app-cacerio>
            <button mat-button color='warn' (click)="eliminarCacerio(i)">Eliminar Cacerio</button>
        </div>
        <button mat-button color ="primary" (click)="agregarCacerio()">Agregar Cacerio</button>
    </Fieldset>
</section>
