<section [formGroup]="formGroup">
    <fieldset >
        <legend>Mejoras en Saneamiento </legend>
        <div style="display: flex; flex-wrap: wrap;justify-content: space-around;">

        </div>
        <mat-form-field style="width: 100%;" >
            <mat-label>Detallar las Intervenciones</mat-label>
            <textarea 
            
            matInput  
            rows="5"
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="20"
            [formControlName]="formControlNames.detalle_intervencion" autocomplete="off"></textarea>
        </mat-form-field>
    </fieldset>

</section>