<section [formGroup]="formGroup">
    
  
    <fieldset class="contenedor">
        <legend>Generalidades del Proyecto</legend>
        <mat-form-field>
            <input matInput placeholder="alias" [formControlName]="formControlNames.alias" autocomplete="off">
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Tipo de Proyecto</mat-label>
            <mat-select [formControlName]="formControlNames.tipo_proyecto">
              <mat-option *ngFor="let tipoProyecto of tipoProyectos" [value]="tipoProyecto">{{tipoProyecto}}</mat-option>
            </mat-select>
          </mat-form-field>
    
        <mat-form-field>
            <input matInput placeholder="cliente" [formControlName]="formControlNames.cliente" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="fecha" [formControlName]="formControlNames.fecha" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="nombre_proyecto" [formControlName]="formControlNames.nombre_proyecto" autocomplete="off">
        </mat-form-field>
        
    
    </fieldset>
    <fieldset>
        <legend>Coordenadas</legend>
        <mat-form-field>
            <input matInput placeholder="Este" [formControlName]="formControlNames.este" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Norte" [formControlName]="formControlNames.norte" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Altitud" [formControlName]="formControlNames.altitud" autocomplete="off">
        </mat-form-field>
    </fieldset>
    <app-seleccionado [formControlName]="formControlNames.localidadesSeleccionadas"></app-seleccionado>


</section>


    <button mat-button color ="primary"(click)="nuevoProyecto()">Crear Proyecto</button>


