<section style="display: flex; justify-content:flex-end; align-items: center;">
<button mat-stroked-button color="primary" [routerLink]="['nuevo']">Agregar Ubigeo</button>
</section>
<ul>
    <li *ngFor="let ubigeo of ubigeosData$ | async">{{ubigeo.departamento.nombre_departamento}} <button mat-button [routerLink]="[ubigeo.docId,'editar']" class="edit">Editar</button><button (click)="eliminarUbigeo(ubigeo.docId)" mat-button class="close">eliminar</button></li>
 </ul>
 <router-outlet></router-outlet>
 