<section [formGroup]="formGroup">
    <fieldset class="container-flex">
        <legend>Via de Acceso</legend>
        <mat-form-field>
            <input matInput placeholder="Distancia" [formControlName]='formControlNames.distancia'>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Localidad" [formControlName]='formControlNames.localidad'>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Tiempo" [formControlName]='formControlNames.tiempo'>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Tipo_via" [formControlName]='formControlNames.tipo_via'>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Transporte" [formControlName]='formControlNames.transporte'>
        </mat-form-field>
    </fieldset>

</section>
