<section [formGroup]="formGroup">
    <fieldset class="container-flex">
        <legend>Via de Acceso</legend>
        <mat-form-field>
            <input matInput placeholder="Localidad" [formControlName]='formControlNames.localidad' autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Tipo_via" [formControlName]='formControlNames.tipo_via' autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Distancia" [formControlName]='formControlNames.distancia' autocomplete="off">
        </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="Tiempo" [formControlName]='formControlNames.tiempo' autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Transporte" [formControlName]='formControlNames.transporte' autocomplete="off">
        </mat-form-field>
    </fieldset>

</section>

