<section [formGroup]="formGroup">
    <fieldset>
        <legend>Captación</legend>
        <mat-form-field>
            <input matInput placeholder="nombre_captacion" [formControlName]='formControlNames.nombre_captacion'
                autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="ubicacion" [formControlName]='formControlNames.ubicacion' autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Antiguedad" [formControlName]='formControlNames.antiguedad' autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="estado_concervacion" [formControlName]='formControlNames.estado_concervacion'
                autocomplete="off">
        </mat-form-field>
        <mat-checkbox [formControlName]='formControlNames.cerco_perimetrico'>Cerco Perimetrico?</mat-checkbox>
        <mat-checkbox [formControlName]='formControlNames.reutilizable'>reutilizable?</mat-checkbox>
    </fieldset>
</section>