<fieldset [formGroup]="formGroup">
    <legend>Generalidades</legend>
    
    <mat-form-field>
        <input matInput placeholder="Nombre de Proyecto" [formControlName]="formControlNames.nombre_proyecto" autocomplete="off" >
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Snip" [formControlName]="formControlNames.snip" autocomplete="off" >
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Cliente" [formControlName]="formControlNames.cliente" autocomplete="off" >
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Alias de Proyecto" [formControlName]="formControlNames.alias" autocomplete="off" >
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Plazo Ejecución" [formControlName]="formControlNames.plazo_ejecucion" autocomplete="off" >
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Sistema Contratación" [formControlName]="formControlNames.sist_contratacion" autocomplete="off" >
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Modalida Ejecución" [formControlName]="formControlNames.modalidad_ejecucion" autocomplete="off" >
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Otros" [formControlName]="formControlNames.otros" autocomplete="off" >
    </mat-form-field>
    
</fieldset>
