<section [formGroup]="formGroup">
    <fieldset>
        <legend>Generalidades del Proyecto</legend>
    
        <mat-form-field>
            <input matInput placeholder="alias_proyecto" [formControlName]="formControlNames.alias_proyecto" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="cliente" [formControlName]="formControlNames.cliente" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="modalidad_ejecucion" [formControlName]="formControlNames.modalidad_ejecucion" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="nombre_proyecto" [formControlName]="formControlNames.nombre_proyecto" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="plazo_ejecucion" [formControlName]="formControlNames.plazo_ejecucion" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="sist_contratacion" [formControlName]="formControlNames.sist_contratacion" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="snip" [formControlName]="formControlNames.snip" autocomplete="off">
        </mat-form-field>
        
        
    
    </fieldset>


</section>