<section [formGroup]="formGroup">
    <div class="main-content">
        <div class="header"> <span>Galeria Fotográfica</span></div>
        <div class="id__wrapper">

            <label class="your-face">
                <input #file type="file" accept='image/*' (change)="preview(file.files)"/>
                <div class="image-persuader">Selecciona Una Foto</div>
                <span style="color:red;" *ngIf="message">{{message}}</span>
                <img [src]="imgURL" height="200" *ngIf="imgURL">
            </label>

            <div class="name">

                <mat-form-field>
                    <input matInput placeholder="Descripción" [formControlName]="formControlNames.descripcion"
                        autocomplete="off">
                </mat-form-field>

            </div>

            

        </div>
    </div>
</section>
